# Tests
numpy
pytest
codecov
pytest-cov
pytest-xdist
dill
# Test contrib dependencies
tqdm
scikit-learn
matplotlib
tensorboardX
visdom
polyaxon
polyaxon-client
wandb
mlflow
neptune-client
tensorboard
pynvml
clearml
scikit-image
py-rouge
nltk
# Examples dependencies
pandas
gym
mkl
setuptools>=65.5.1 # not directly required, pinned by Snyk to avoid a vulnerability
wheel>=0.38.0 # not directly required, pinned by Snyk to avoid a vulnerability
